#Start permissions for vMenu
exec permissions.cfg

#MySQL connections
set mysql_connection_string "mysql://root:root@localhost/fivem_server?charset=utf8mb4"
set mysql_slow_query_warning 250

#Only change for a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set steam_webApiKey ""
sv_licenseKey ""
sv_endpointprivacy true
sv_scriptHookAllowed 0
sets locale "en-US"

load_server_icon astronaut-on-unicorn-transparent.png
sv_hostname "Event Horizon RP [In development]"
sets sv_projectName "Event Horizon Development Server"
sets sv_projectDesc "A very special place made by Gravity."
sets tags "default, deployer"

sets Framework "[EH] Event Horizon Framework"
sets Discord "https://discord.gg/FMp2zhT"
sets Owners "Gravity"
sets Developers "Gravity"

#Things for running server locally. Change if deploying large scale.
# Make the server not show in the server browser. Uncomment to make it show.
sv_master1 ""
sv_maxclients 5

## These resources will start by default.
#default
ensure baseevents
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog

#3rd party
ensure PolyZone
ensure interact-sound
ensure vMenu
ensure bob74_ipl
ensure rpemotes

#maps
#ensure life-invader

#vehicles
#TODO reformat vehicle to be in one folder
ensure iak_wheelchair
ensure NMAVENT
ensure 09tahoe
ensure 16charger
ensure bronco
ensure srt8
ensure trackhawk
ensure LSPD

#core
ensure lib_func
ensure eh-loadingscreen
ensure eh-admin
ensure eh-notify
ensure eh-scenes
ensure eh-nuiinput
ensure eh-vehicle
ensure eh-playerlist
ensure eh-radial
ensure eh-polyzone

#missions
ensure alien-showdown
ensure hack-the-mainframe

## Add system admins
# Groups
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands 
