* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    position: relative;

    /* makes so user cannot highlight text */
    user-select: none;

    /* font settings */
    font-family: 'ChaletComprime-CologneSixty';
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ChaletComprime-CologneSixty";
	src: local('Chalet Comprime Cologne Sixty'), local('Chalet-Comprime-Cologne-Sixty'),
	url('fonts/ChaletComprime-CologneSixty.woff2') format('woff2'),
	url('fonts/ChaletComprime-CologneSixty.woff') format('woff'),
	url('fonts/ChaletComprime-CologneSixty.ttf') format('truetype');
}

.hud {
    font-size: 48px;

    /* CSS Flexbox */
    align-items: center;
    display: none;
    flex-direction: column;

    position: absolute;
}

.icon-cluster {
    align-items: center;
    display: flex;
    flex-direction: row;

    position: absolute;
}

.cruise-button {
    font-size: 13px;
    display: none;
    color: white;
    background-color: green;
}

.seatbelt-icon {
    font-size: 13px;
    display: flex;
    color: white;
    background-color: red;
    text-decoration: line-through;
    text-decoration-color: red;
}

.mph-gauge {
    color: rgb(255, 255, 255);
    margin: 0 7px;
}

.shadow-stroke {
    text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000,
        2px 3px 2px rgba(0, 0, 0, 0.75);
}

.dashboard-container {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 375px;
    height: 210px;
    border-radius: 20px;
    background-color: #1e1e1eeb;
    border: 2px solid #c4c4c4;
}

.dashboard-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 5px;
    box-sizing: border-box;
    padding: 20px;
}

.slot {
    background-color: #000000;
    margin: auto;
    border-radius: 10px;
}

.dashboard-container img {
    width: 50px;
    height: 50px;
    align-self: center;
}